<div class="grid">
    <div class="grid__item large--one-half medium--one-half">
        MENS
    </div>
    <div class="grid__item large--one-half medium--one-half">
        WOMENS
    </div>
</div>

{% schema %}
    {
    "name": "Collection list grid 2",
    "max_blocks": 2,
    "settings": [
    {
    "type": "text",
    "id": "title grid 2",
    "label": "Heading",
    "default": "Collection list"
    }
    ],
    "presets": [{
    "name": "Collection list",
    "category": "Collection",
    "blocks": [
    {
    "type": "collection"
    },
    {
    "type": "collection"
    }
    ]
    }],
    "blocks": [
    {
    "type": "collection",
    "name": "Collection",
    "settings": [
    {
    "id": "collection",
    "type": "collection",
    "label": "Collection"
    }
    ]
    }
    ]
    }
{% endschema %}