<style>
    .site-footer
    {
        background-color:black;
        color:white;
        padding-top: 20px;
    }

    .footer-link-flex
    {
        display: inline-flex;
    }

    .footer-link-flex li a
    {
        padding: 0 20px;
    }

    .footer-link-flex li a:hover
    {
        text-decoration: none !important;
        color: white !important;
    }

</style>
<div class="wrapper">
    <footer class="site-footer small--text-center wrapper" role="contentinfo">
      <div class="wrapper">

        <div class="grid-uniform">

          {% comment %}
            Default to 1 footer column (copyright/powered_by/payment_types)
          {% endcomment %}
          {% assign num_footer_columns = 1 %}

          {% comment %}
            Create an extra menu column if link list has more than 5 links
          {% endcomment %}
          {% if linklists[section.settings.footer_link_list].links.size > 0 %}
            {% comment %}
              We have a Footer menu that isn't empty, we will need another column
            {% endcomment %}
            {% assign num_footer_columns = num_footer_columns | plus: 1 %}
            {% assign extra_footer_linklist_column = false %}
            {% assign footer_linklist_count = linklists[section.settings.footer_link_list].links.size %}
            {% if footer_linklist_count > 5 %}
              {% assign extra_footer_linklist_column = true %}
              {% comment %}
                We split the links so we'll need another column
              {% endcomment %}
              {% assign num_footer_columns = num_footer_columns | plus: 1 %}
            {% endif %}
            {% comment %}
              If we have an odd amount of links, we need to show 1 more link in 1st column
            {% endcomment %}
            {% assign extra_link = footer_linklist_count | modulo: 2 %}
            {% comment %}
              We start with a 2nd column after first column is filled up.
            {% endcomment %}
            {% assign footer_linklist_split = footer_linklist_count | divided_by: 2 | plus: extra_link | plus: 1 %}
          {% endif %}

          {% comment %}
            Determine whether there are social links
          {% endcomment %}
            <!-- set this to true for demo purpose, revert to flase in prod -->
            {% assign footer_social_enable = true %}
            <!-- set this to true for demo purpose end here -->
          {% if
            settings.social_twitter_link != blank
            or settings.social_facebook_link != blank
            or settings.social_pinterest_link != blank
            or settings.social_google_plus_link != blank
            or settings.social_instagram_link != blank
            or settings.social_tumblr_link != blank
            or settings.social_youtube_link != blank
            or settings.social_vimeo_link != blank
            or settings.social_fancy_link != blank
            or settings.social_snapchat_link != blank
          %}
            {% assign footer_social_enable = true %}
          {% endif %}

          {% comment %}
            Calculate the number of footer columns shown. Default to 1.
          {% endcomment %}
          {% if footer_social_enable %}
            {% assign num_footer_columns = num_footer_columns | plus: 1 %}

              <!-- will always be 2 -->
              {% assign num_footer_columns = 2 %}
              <!-- end -->
          {% endif %}

          {% case num_footer_columns %}
            {% when 0 %}
            {% when 1 %}
              {% assign footer_column_width = '' %}
            {% when 2 %}
              {% assign footer_column_width = 'one-half small--one-whole' %}
            {% when 3 %}
              {% assign footer_column_width = 'one-third small--one-whole' %}
            {% when 4 %}
              {% assign footer_column_width = 'large--one-quarter medium--one-half' %}
          {% endcase %}

            {% if footer_social_enable %}
                <div class="grid__item {{ footer_column_width }}">
                    <ul class="no-bullets social-icons footer-link-flex">
                        {% if settings.social_facebook_link != blank %}
                            <li>
                                <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                                    <span class="icon icon-facebook" aria-hidden="true"></span>
                                    Facebook
                                </a>
                            </li>
                        {% endif %}
                        <!-- social media in use for now -->
                        {% if settings.social_instagram_link == blank %}
                            <li>
                                <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                                    <span class="icon icon-instagram" aria-hidden="true"></span>
                                    Instagram
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_twitter_link == blank %}
                            <li>
                                <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                                    <span class="icon icon-twitter" aria-hidden="true"></span>
                                    Twitter
                                </a>
                            </li>
                        {% endif %}
                        <!-- social media in use for now -->
                        {% if settings.social_pinterest_link != blank %}
                            <li>
                                <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                                    Pinterest
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_snapchat_link != blank %}
                            <li>
                                <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                                    <span class="icon icon-snapchat" aria-hidden="true"></span>
                                    Snapchat
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_google_plus_link != blank %}
                            <li>
                                <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                                    <span class="icon icon-google_plus" aria-hidden="true"></span>
                                    Google Plus
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_tumblr_link != blank %}
                            <li>
                                <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                                    Tumblr
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_youtube_link != blank %}
                            <li>
                                <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                                    <span class="icon icon-youtube" aria-hidden="true"></span>
                                    YouTube
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_vimeo_link != blank %}
                            <li>
                                <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                                    Vimeo
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.social_fancy_link != blank %}
                            <li>
                                <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                                    <span class="icon icon-fancy" aria-hidden="true"></span>
                                    Fancy
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

          {% if linklists[section.settings.footer_link_list].links.size > 0 %}
            <div class="grid__item {{ footer_column_width }} text-right">
              <ul class="no-bullets site-footer__linklist footer-link-flex">
                {% for link in linklists[section.settings.footer_link_list].links %}

          {% comment %}
            Create a second column
          {% endcomment %}
          {% if extra_footer_linklist_column and forloop.index == footer_linklist_split %}
              </ul>
            </div>
            <div class="grid__item {{ footer_column_width }}">
              <ul class="no-bullets site-footer__linklist">
          {% endif %}

                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>

                {% endfor %}
              </ul>
            </div>
          {% endif %}


            <!-- footer here -->
            <div class="text-center">
                <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
                {% unless shop.enabled_payment_types == empty %}
                {% assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,shopify_pay,visa' | split: ',' %}
                <ul class="inline-list payment-icons">
                    {% for type in shop.enabled_payment_types %}
                        {% if payment_icons_available contains type %}
                            <li>
                      <span class="icon-fallback-text">
                        <span class="icon icon-{{ type }}" aria-hidden="true"></span>
                        <span class="fallback-text">{{ type | replace: '_',' ' }}</span>
                      </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endunless %}
            </div>
        </div>



      </div>
    </footer>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_link_list",
        "label": "Footer menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
