<style>
  .newsletter
  {
    padding: 50px 0 50px 0;
  }

  .newsletter .section-header__title
  {
    color: white;
  }

  .newsletter--form .newsletter__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
</style>
<div class="wrapper">
  <div class="newsletter wrapper">
    <div class="wrapper">
      {% unless section.settings.heading == blank %}
        <div class="text-center">
          <!--<h2 class="h1 section-header__title">{{ section.settings.heading | escape }}</h2>-->
          <h2 class="h1 section-header__title">Sign up to our newsletter and <br/>receive 10% off your first order</h2>
        </div>
      {% endunless %}
      {% unless section.settings.subheading == blank %}
        <div class="section-subheading text-center">
          <p>{{ section.settings.subheading | escape }}</p>
          <hr class="hr--small">
        </div>
      {% endunless %}
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <div class="newsletter--form">
            <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
          </div>
        {% else %}
          <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter--form">
            <div class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
              <span class="input-group-btn">
                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                  <span class="newsletter__submit-text--large">&rarr;</span>
                  <span class="newsletter__submit-text--small">
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                  </span>
                </button>
              </span>
            </div>
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "class": "index-newsletter-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter signup",
      "category": "Promotional"
    }],
    "blocks" : []
  }
{% endschema %}
